@using Models1.Model;


@model PagedList<PositionClass>

    <a asp-action="Basket"><button>Оформить</button></a>
    <br />

@foreach(var s in Model)
{
    <span>@s.Name</span>
    <form asp-action="AddToBasket" method="post">
        <input type="hidden" value="@s.Id" asp-for="@s.Id"/>
    <input type="submit" value="+"/>
    </form>
     <br />
}