@using Models1.Model;


@model IEnumerable<PositionClass>
@{
}
    <a asp-action="Basket"><button>Оформить</button></a>

@foreach(var s in Model)
{
    <span>@s.Name</span>
    <a asp-action="AddToBasket" asp-route-id="@s.Id"><button>+</button></a>
    <br />
    
}