<form asp-action="Task" method="post">
    <p>
        <label>Суть рекламации:</label><br />
        <input type="text" name="massage" />
    </p>
    <p>
        <label>Почта для связи:</label><br />
        <input type="number" name="post" />
    </p>
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>